:root {
    --primary-font: 'Arial', sans-serif;

    --primary-color: #00fffb;
    --secondary-color: #ff00ff;
    --background-color: #ffffff;
    --text-color: #000000;
    --error-color: #ff0000;
    --hover-color: #00ccff;

    --font-size-h1: 32px;
    --font-size-h2: 24px;
    --font-size-h3: 20px;
    --font-size-label: 16px;
    --font-size-input: 14px;
    --font-size-button: 18px;

    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-normal: 400;
}

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* Screen reader only styles */
.sr-only:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

/* Fonts */
h1,
h2,
.navbar-option,
.post-author,
.edit-button,
.delete-button {
    font-family: var(--primary-font);
}

p,
.auth-form,
.search-input,
.create-post-input {
    font-family: var(--primary-font);
}

p {
    color: var(--text-color);
}

/* Header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--secondary-color);
    position: relative;
}

.navbar-links {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    text-align: center;
    font-size: var(--font-size-h3);
}

.navbar-option {
    color: var(--text-color);
}

.logo {
    color: var(--primary-color);
    font-size: var(--font-size-h1);
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover,
a:focus {
    color: var(--hover-color);
}
